<h3>Amar Payment Details</h3>
<p>
  <strong>Total amount to pay:</strong>
  <%= @amar_total_amt %>
</p>

<p>
  <strong>Paid Amount:</strong>
  <%= @amar_paid_amt %>
</p>
<br>
<h3>Akbar Payment Details</h3>
<p>
  <strong>Total amount to pay:</strong>
  <%= @akbar_total_amt %>
</p>
<p>
  <strong>Paid Amount:</strong>
  <%= @akbar_paid_amt %>
</p>
<br>
<h3>Anthony Payment Details</h3>
<p>
  <strong>Total amount to pay:</strong>
  <%= @anthony_total_amt %>
</p>

<p>
  <strong>Paid Amount:</strong>
  <%= @anthony_paid_amt %>
</p>
